<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'app_web/style.css' %}" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}"><img src="/media/logo.png" alt="Logo de l'application LITRevu"></a>
        </div>
        {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'flux' %}">Flux</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'subscription' %}">Abonnements</a>
        </nav>
                <div class="user-info">
            {% if user.avatar %}
                <a href="#avatarOptions"><img src="{{ user.avatar.url }}" alt="{{ user.username }} Avatar"></a>
            {% else %}
                <a href="#avatarOptions"><img src="/media/avatarbase.jpg" alt="{{ user.username }} Avatar"></a>
            {% endif %}
            <!-- Div cachée -->
            <div class="avatar-options" id="avatarOptions">
                <button onclick="window.location.href='#'">Fermer</button>
                <p>Bonjour {{ user.username }}</p>
                <p>Options supplémentaires</p>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Se déconnecter</button>
                </form>
                <button onclick="window.location.href='{% url 'password_change' %}'">Modifier son mot de passe</button>
                <!-- Ajoutez d'autres liens ou éléments selon vos besoins -->
            </div>
        </div>
        {% endif %}
    </header>
    {% block content %} {% endblock content %}

</body>
</html>
