<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'app_web/style.css' %}" />
</head>
<body>
    <header>
        <div class="menu">
            <div class="logo">
                <a href="{% url 'feed' %}"><img src="/media/logo.png" alt="Logo de l'application LITRevu"></a>
            </div>
            {% if user.is_authenticated %}
                <div class="menu-avatar">
                    <nav>
                        <a href="{% url 'feed' %}">Flux</a>
                        <a href="{% url 'posts' %}">Posts</a>
                        <a href="{% url 'subscription' %}">Abonnements</a>
                    </nav>
                    <div class="user-info">
                        {% if user.avatar %}
                            <a href="#avatarOptions"><img src="{{ user.avatar.url }}" alt="{{ user.username }} Avatar"></a>
                        {% else %}
                            <a href="#avatarOptions"><img src="/media/avatarbase.jpg" alt="{{ user.username }} Avatar"></a>
                        {% endif %}
                    </div>
                </div>

            <!-- Div cachée -->
            <div class="avatar-options" id="avatarOptions">
                <div class="block-avatar">
                    <div class="close">
                        <button onclick="window.location.href='#'" class="delete">X</button>
                    </div>
                    <p>Bonjour {{ user.username }}</p>
                    {% if user.avatar %}
                    <button onclick="window.location.href='{% url 'update_avatar' %}'">Modifier mon avatar</button>
                    <button onclick="window.location.href='{% url 'delete_avatar' %}'">Supprimer mon avatar</button>
                    {% else %}
                        <button onclick="window.location.href='{% url 'add_avatar' %}'">Ajouter un avatar</button>
                    {% endif %}
                   <button onclick="window.location.href='{% url 'password_change' %}'">Modifier son mot de passe</button>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Se déconnecter</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </header>
    {% block content %} {% endblock content %}

</body>
</html>
