{% extends 'base.html' %}
{% block content %}
<div class="block">
    <h2>Feed</h2>
  <div class="buttons-flux">
      <button onclick="window.location.href='{% url 'ticket' %}'">Demander une critique</button>
      <button onclick="window.location.href='{% url 'ticketreview' %}'">Créer une critique</button>
  </div>
  {% for post in posts %}
    {% if post.post_type == 'TICKET' %}
        <div class="ticket">
        {% if post.post.review_set.all %}
          <div class="in review">
            {% for review in post.post.review_set.all %}
              {% include 'app_web/review_snippet.html' %}
            {% endfor %}
          </div>
        {% endif %}
          {% include 'app_web/ticket_snippet.html' with ticket=post.post %}
      </div>

    {% elif post.post_type == 'REVIEW' %}
      <div class="review">
      {% include 'app_web/review_snippet.html' with review=post.post %}
        <div class="in ticket">
          {% include 'app_web/ticket_snippet.html' with ticket=post.post.ticket %}
        </div>

      </div>
      {% endif %}
  {% endfor %}
</div>



{% endblock content %}
