{% extends 'base.html' %}
{% block content %}
    <h2>Flux</h2>
    <div class="flux">
        <div class="buttons-flux">
            <button onclick="window.location.href='{% url 'ticket' %}'">Demander une critique</button>
            <button onclick="window.location.href='{% url 'ticketreview' %}'">Créer une critique</button>
        </div>
        {% for f in flux %}
        <div class="ticket">
            <h3>{{ f.title }}</h3>
            <p>{{ f.description }}</p>
            {% if f.image %}
                <img src="{{ f.image.url }}" alt="{{ f.title }}">
            {% endif %}
            <p>Créé le : {{ f.time_created }}</p>
            {% if f.review_set.all %}
                <p>Une critique existe déjà pour ce ticket.</p>
            {% else %}
                <a href="{% url 'review' f.id %}">Ajouter une critique</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}
