{% extends 'base.html' %}
{% block content %}
    <h2>Home</h2>
    <h3>Bienvenue, {{ username }}!</h3>
    {% if avatar %}
        <img src="{{ avatar }}" alt="Avatar de {{ username }}" class="avatar">
        <button onclick="window.location.href='{% url 'update_avatar' %}'">Modifier mon avatar</button>
        <button onclick="window.location.href='{% url 'delete_avatar' %}'">Supprimer mon avatar</button>

    {% else %}
        <p>Pas d'avatar pour cet utilisateur</p>
        <button onclick="window.location.href='{% url 'add_avatar' %}'">Ajouter un avatar</button>
    {% endif %}
    <button onclick="window.location.href='{% url 'password_change' %}'">Modifier son mot de passe</button>
    {% for ticket in tickets %}
        <div class="ticket">
            <h3>{{ ticket.title }}</h3>
            <p>{{ ticket.user }}</p>
            <p>{{ ticket.description }}</p>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
            {% endif %}
            <p>Créé le : {{ ticket.time_created }}</p>
            {% if ticket.review_set.all %}
                <p>Une critique existe déjà pour ce ticket.</p>
            {% else %}
                <a href="{% url 'review' ticket.id %}">Ajouter une critique</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
