{% extends 'base.html' %}
{% block title %}Mentions légales - LITRevu{% endblock title %}

{% block content %}

  <h1>Mentions Légales</h1>

    <section>
        <h2>Informations légales</h2>
        <p>Raison sociale : LITRevu</p>
        <p>Forme juridique : [Forme juridique de votre entreprise]</p>
        <p>Capital social : [Montant du capital social]</p>
        <p>SIRET : [Numéro SIRET de votre entreprise]</p>

    </section>

    <section>
        <h2>Coordonnées</h2>
        <p>Adresse : [Adresse de votre entreprise]</p>
        <p>Téléphone : [Numéro de téléphone]</p>
        <p>Email : [Adresse email de contact]</p>
    </section>

    <footer>
        <p>© 2024 LITRevu. Tous droits réservés.</p>
    </footer>
{% endblock content %}
