{% extends 'base.html' %}
{% block title %}Vos posts - LITRevu{% endblock title %}
{% block content %}
<h2>Vos Posts</h2>
<div class="msg">
  <ul class="messages">
      {% for message in messages %}
          <li>
              {% if message.tags %}
                  {{ message }}
              {% endif %}
          </li>
      {% endfor %}
  </ul>
</div>
<div class="block">
  {% for post in posts %}
    {% if post.post_type == 'TICKET' %}
        <div class="ticket">
          {% include 'app_web/ticket_snippet.html' with ticket=post.post %}
      </div>

    {% elif post.post_type == 'REVIEW' %}
      <div class="review blk">
      {% include 'app_web/review_snippet.html' with review=post.post %}
        <div class="in ticket">
          {% include 'app_web/ticket_snippet.html' with ticket=post.post.ticket %}
        </div>
      </div>
      {% endif %}
  {% endfor %}
</div>

{% endblock content %}
