<div class="block-snippet">
    <div>
        <div class="title-block">
            {% if review.user == request.user %}
                <p>Vous avez publié une critique</p>
            {% else %}
                <p>{{ review.user }} a publié une critique</p>
            {% endif %}
            <p class="time">{{ review.time_created }}</p>
        </div>
        <div class="rating">
            <h3>{{ review.headline }}</h3>
            <div>
                {% for star in post.stars.filled_stars %}
                    <span class="star filled" aria-hidden="true">&#9733;</span>
                {% endfor %}
                {% for star in post.stars.empty_stars %}
                    <span class="star" aria-hidden="true">&#x2606;</span>
                {% endfor %}
            </div>
                <span aria-label="Note {{ review.rating }} sur 5" class="visually-hidden">{{ review.rating }}/5</span>
        </div>

    </div>
    <p class="desc">{{ review.body }}</p>
    <div class="btn-snippet">
        <div>
            {% if review.user == request.user %}
                <form method="post" action="{% url 'review_delete' review.id %}">
                    {% csrf_token %}
                    <button type="submit" class="delete btn-add"
                            aria-label="Supprimer votre review">Supprimer</button>
                </form>
        </div>
        <div>
                <button onclick="window.location.href='{% url 'review_update' review.id %}'"
                        aria-label="Modifier votre review" class="btn-add">Modifier</button>
            {% endif %}
        </div>
    </div>
</div>

