        <div class="ticket">
            <h3>{{ ticket.title }}</h3>
            <p>{{ ticket.user }}</p>
            <p>{{ ticket.description }}</p>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
            {% endif %}
            <p>Créé le : {{ ticket.time_created }}</p>
            {% if ticket.review_set.all %}
                <p>Une critique existe déjà pour ce ticket.</p>
            {% else %}
                <a href="{% url 'review' ticket.id %}">Ajouter une critique</a>
            {% endif %}
        </div>