{% extends 'base.html' %}
{% block content %}
    <h3>Détails du Ticket</h3>
    <p>Titre du Ticket: {{ ticket.title }}</p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="couverture de {{ ticket.title }}" class="cover">
    {% endif %}
    <p>Description du Ticket: {{ ticket.description }}</p>
    {% if review %}
        <h2>Modifier une critique</h2>
        <form method="post" action="{% url 'review_update' review.id %}">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Modifier</button>
        </form>
    {% else %}
        <h2>Créer une critique</h2>
        <form method="post" action="{% url 'review' ticket.id %}">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Publier ma critique</button>
        </form>
    {% endif %}

{% endblock %}
