<div class="block-snippet">
    <div>
        <div class="title-block">
            {% if review.user == request.user %}
                <p>Vous avez publié une critique</p>
            {% else %}
                <p>{{ review.user }} a publié une critique</p>
            {% endif %}
            <p class="time">{{ review.time_created }}</p>
        </div>
        <div class="rating">
            <h3>{{ review.headline }}</h3>
            <div>
                {% for star in post.stars.filled_stars %}
                    <span class="star filled">&#9733;</span>
                {% endfor %}
                {% for star in post.stars.empty_stars %}
                    <span class="star">&#x2606;</span>
                {% endfor %}
            </div>
        </div>

    </div>
    <p class="desc">{{ review.body }}</p>
    <div class="btn-snippet">
        <div>
            {% if review.user == request.user %}
                <form method="post" action="{% url 'review_delete' review.id %}">
                    {% csrf_token %}
                    <button type="submit" class="delete btn-add">Supprimer</button>
                </form>
        </div>
        <div>
                <button onclick="window.location.href='{% url 'review_update' review.id %}'" class="btn-add">Modifier</button>
            {% endif %}
        </div>
    </div>
</div>

