{% extends 'base.html' %}
{% block content %}
<h2>Créer une critique</h2>
<div class="block-form-review">
    <h3>Vous êtes en train de poster en réponse à :</h3>
    <div class="ticket">
        {% include 'app_web/ticket_snippet.html' with ticket=ticket %}
    </div>
</div>
<div class="block-form">
    {% if review %}
        {% if review.user == request.user %}
        <h3>Modifier une critique</h3>
        <form method="post" action="{% url 'review_update' review.id %}" class="form form-review">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-form">
                <button type="submit">Modifier</button>
            </div>
        </form>
        {% endif %}
    {% else %}
        <h3>Critique</h3>
            <form method="post" action="{% url 'review' ticket.id %}" class="form form-review">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-form">
                    <button type="submit">Envoyer</button>
                </div>
            </form>
    {% endif %}
    </div>


{% endblock %}
