{% extends 'base.html' %}
{% block title %}Page d'abonnement - LITRevu{% endblock title %}
{% block content %}
<div class="subs">
    <div class="new-sub">
        <h2>Suivre d'autres utilisateurs</h2>
        {% if messages %}
                <div>
                    <ul class="messages">
                        {% for message in messages %}
                            <li>
                                {% if message.tags %}
                                    {{ message }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        {% endif %}
        <form method="post" action="{% url 'subscription' %}">
            {% csrf_token %}
            <label for="id_username_to_follow">Nom d'utilisateur :</label>
            <input type="text" name="username_to_follow" id="id_username_to_follow" required>
            <button type="submit">Suivre l'utilisateur</button>
        </form>
    </div>
    <div>
        <h2>Abonnements</h2>
        {% if following_users %}
            <ul>
                {% for user in following_users %}
                    <li>
                        <div class="username">
                        {{ user.username }}
                        </div>
                        <div class="form-uf">
                            <form method="post" action="{% url 'unfollow' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_to_unfollow" value="{{ user.id }}">
                                <button type="submit">Se désabonner</button>
                            </form>
                            <form method="post" action="{% url 'block_user' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_to_block" value="{{ user.id }}">
                                <button type="submit" class="delete">Bloquer</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Vous ne suivez actuellement personne.</p>
        {% endif %}
    </div>
    <div>
        <h2>Abonnés</h2>
        {% if followers %}
            <ul class="followers">
                {% for user in followers %}
                    <li>
                        <div class="username">
                            {{ user.username }}
                        </div>
                        <div class="form-uf">
                            <form method="post" action="{% url 'block_user' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_to_block" value="{{ user.id }}">
                                <button type="submit" class="delete">Bloquer</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Personne ne vous suit actuellement.</p>
        {% endif %}
    </div>
    <div>
        <h2>Utilisateurs bloqués</h2>
        {% if blocked_users %}
            <ul class="followers">
                {% for user in blocked_users %}
                    <li>
                        <div class="username">
                            {{ user.username }}
                        </div>
                        <div class="form-uf">
                            <form method="post" action="{% url 'unblock_user' %}">
                                {% csrf_token %}
                                <input type="hidden" name="user_to_unblock" value="{{ user.id }}">
                                <button type="submit">Débloquer</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Vous n'avez actuellement bloqué personne.</p>
        {% endif %}
    </div>
</div>

{% endblock %}