{% extends 'base.html' %}
{% block title %}Creation d'un ticket et de sa critique - LITRevu{% endblock title %}
{% block content %}
<h2>Créer une critique</h2>
<div class="block-form">
    <form method="post" enctype="multipart/form-data" class="form-tck-rvw">
        {% csrf_token %}
        <div class="ticket-form-edit">
        <h3>Livre / Article</h3>
            {{ ticket_form.as_p }}
        </div>
        <div>
        <h3>Critique </h3>
            {{ review_form.as_p }}
        </div>
        <div class="btn-form">
            <button type="submit" aria-label="Publier le ticket et la critique">Publier</button>
        </div>
    </form>
</div>


{% endblock content %}
