{% extends 'base.html' %}
{% block content %}
    <h2>Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ticket_form.as_p }}
        {{ review_form.as_p }}
        <button type="submit" >Publier</button>
    </form>
    {% if review_form.errors %}
        <ul class="errorlist">
            {% for field, errors in review_form.errors.items %}
                <li>{{ field }}: {{ errors.0 }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}