{% extends 'base.html' %}
{% block title %}Creation d'un ticket - LITRevu{% endblock title %}
{% block content %}
<div class="block-form tkt-page">
    {% if ticket %}
    <h2>Modifier votre ticket</h2>
        {% if ticket.user == request.user %}
            <form action="" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-form">
                    <button type="submit" aria-label="Modfier la demande de critique">Modifier</button>
                </div>
            </form>
        {% endif %}
    {% else %}
    <h2>Créer un ticket</h2>
        <form action="" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-form">
                <button type="submit" aria-label="Publier la demande de critique">Envoyer</button>
            </div>
        </form>
    {% endif %}

</div>
{% endblock content %}


