{% extends 'base.html' %}
{% block content %}
<h2>Créer une critique</h2>
<div class="block-form">
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div>
            <p>Titre</p>
            {{ ticket_form.title }}
            <p>Description</p>
            {{ ticket_form.description }}
            <p>Image</p>
            {{ ticket_form.image }}
        </div>
        <div>
            <p>Titre</p>
            {{ review_form.headline }}
            <p>Note</p>
            <span class="rating">{{ review_form.rating }}</span>
            <div class="desc">
                <p class="desc-review">Commentaire</p>
                {{ review_form.body }}
            </div>
        </div>
        <div class="btn-form">
            <button type="submit" >Publier</button>
        </div>
    </form>
</div>


{% endblock content %}