<div class="block-snippet">
    <div >
        <div class="title-block">
            {% if ticket.user == request.user %}
                <p>Vous avez demandé une critique</p>
            {% else %}
                  <p>{{ ticket.user }} a demandé une critique</p>
            {% endif %}
            <p class="time">{{ ticket.time_created }}</p>
        </div>

        <h3>{{ ticket.title }}</h3>
    </div>
    <p class="desc">{{ ticket.description }}</p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="Image de couverture de {{ ticket.title }}">
    {% endif %}
    <div class="btn-snippet">
        <div>
            {% if ticket.user == request.user %}
                <form method="post" action="{% url 'ticket_delete' ticket.id %}">
                    {% csrf_token %}
                    <button type="submit" class="delete btn-add"
                            aria-label="Supprimer votre ticket">Supprimer</button>
                </form>
        </div>
        <div>
                <button onclick="window.location.href='{% url 'ticket_update' ticket.id %}'"
                        aria-label="Modifier votre ticket" class="btn-add">Modifier</button>
            {% endif %}
        </div>
        <div>
            {% if not ticket.review_set.all %}
                <button onclick="window.location.href='{% url 'review' ticket.id %}'" class="btn-add">Créer une critique</button>
            {% endif %}
        </div>
    </div>
</div>
