{% extends 'base.html' %}
{% block content %}
<div class="block-form tkt-page">
    <h2>Créer un ticket</h2>
    {% if ticket %}
        {% if ticket.user == request.user %}
            <form action="" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <p>Titre</p>
                {{ form.title }}
                <p>Description</p>
                {{ form.description }}
                <p>Image</p>
                <div class="form-update">
                  {% if form.instance.image %}
                    <img src="{{ form.instance.image.url }}" alt="{{ form.instance.image.name }}" class="img-form">
                    {{ form.image }}
                  {% else %}
                    {{ form.image }}
                  {% endif %}
                </div>
                <div class="btn-form">
                    <button type="submit">Modifier</button>
                </div>
            </form>
        {% endif %}
        {% else %}
            <form action="" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <p>Titre</p>
                {{ form.title }}
                <p>Description</p>
                {{ form.description }}
                <p>Image</p>
                {{ form.image }}
                <div class="btn-form">
                    <button type="submit">Envoyer</button>
                </div>
            </form>
    {% endif %}

</div>
{% endblock content %}


