* { background: grey}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Autres styles pour le conteneur du header */
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 8em;
    height: auto;
    /* Styles spécifiques pour le logo si nécessaire */
}

nav {
    display: flex;
}

nav a {
    margin-left: 10px; /* Espacement entre les liens, ajustez selon vos besoins */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    position: relative;
    margin: 10px;
    border-radius: 50%;  /* Ajoutez cela pour des avatars circulaires */
    width: 40px;  /* Ajustez selon vos besoins */
    height: 40px;  /* Ajustez selon vos besoins */
}

/* Style de la div cachée (pseudo fenêtre modale) */
.avatar-options {
    display: none;
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 20%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #f00;
}

/* Afficher la div cachée lorsqu'elle est activée */
.avatar-options:target {
    display: block;
}

.avatar {
    max-height: 15em;
    background-color: pink;
}

li {
    list-style: none;
    padding: 5px;
}


.login_page {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 15%
}

.login_page div{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.flux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-flux {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
}

.buttons-flex button{
    margin: 2em;
}

.ticket {
    display: flex;
    background-color: pink;
    border: 2px solid black;
    margin: 5px;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.ticket img {
    width: 50%;
    height: auto;
}

.rating {
    font-size: 24px; /* Ajustez la taille des étoiles selon vos besoins */
}

.star {
    color: gold; /* Couleur des étoiles pleines */
}

.review {
    display: flex;
    background-color: blue;
    border: 2px solid black;
    margin: 5px;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}