body {
    background-color: #d1e0e0;
    margin: 0;
}

header {
    background-color: #669999;
}

.login-page button {
    padding: 1em;
    font-size: 1em;
    min-width: 12em;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.menu-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 2.8em;
    right: 2em;
    font-size: 1.2em;
}

.menu-avatar a {
    color: black;
    text-decoration: none;
    padding: 0em 0.5em 0em 0.5em;
}

.menu-avatar nav a:hover {
    transition: 1s;
    color: white;
    background-color: #3d5c5c;
}

h2 {
    margin-top: 3em;
    text-align: center;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 8em;
    height: auto;
}

nav {
    display: flex;
}

nav a {
    margin-left: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    position: relative;
    margin: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-info img:hover {
    transition: 1s;
    /* filter: invert(1); */
    filter: drop-shadow(2px 4px 6px black);
}


/* Style de la div cachée */
.avatar-options {
    display: none;
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 9%;
}

/* Afficher la div cachée lorsqu'elle est activée */
.avatar-options:target {
    display: block;
}

.block-avatar {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    border: 2px solid black;
    padding: 1em;
    margin-top: 1em;
    background-color: #c2d6d6;
    border-radius: 5px;
}

.block-avatar p {
    text-align: center;
}

.block-avatar button {
    width: 100%;
}

.add-avatar{
    margin: 6em 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-up {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    border: 2px solid black;
    padding: 1em;
    margin: 4em 12em;
    background-color: #c2d6d6;
    border-radius: 5px;
    font-size: 1.1em;
}

.btn-add-avatar {
    padding: 1em;
    font-size: 1em;
    width: auto;
}

.close {
    display: flex;
    justify-content: flex-end;
}

.close button {
    max-width: 15%;
}

.avatar {
    max-height: 15em;
    background-color: pink;
}

li {
    list-style: none;
    padding: 5px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin: 5px 0 5px 0;
    cursor: pointer;
    transition: background-color 1s;
    background-color: #94b8b8;
}

.btn-snippet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5em 0 1em 0;
}

.btn-snippet button {
    padding: 1em;
}

.btn-add {
    padding: 1em;
    font-size: 1em;
    min-width: 12em;
}

.delete{
    font-weight: bold;
}

.delete:hover {
    background-color: #cc0000;
    transition: 1s;
    color: white;
}

.msg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 2em 0;
}

.time {
    font-size: 14px;
}

.desc {
    margin-top: 2em;
    margin-bottom: 3em;
    font-size: 1.1em;
}

.desc input {
    min-height: 10em;
    margin-bottom: 3em;
}

.block {
    flex-direction: column;
    align-items: center;
}

.blk {
    margin: 3em 14em;
}

.login_page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15%
}

.login_page div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.login_page p{
    font-size: 1.4em;
}

.login_page form label {
    font-size: 0.9em;
}

.form-login input {
    min-width: 24em;
}

.login_page  button {
    padding: 1em 3em;
    font-size: 1em;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signup {
    margin: 2em 12em;
    display: flex;
    flex-direction: column;
}

.btn-signup {
    display: flex;
    justify-content: flex-end;
}

.btn-signup  button {
    margin: 0.5em;
    padding: 1em 4em;
}

.signup form {
    border: none;
    width: 40%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.flux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-flux {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin-top: 6em;
}

.buttons-flux button{
    font-size: 1em;
    padding: 1em 4em 1em 4em;
    margin: 0 5em 0px 5em;
}

.ticket {
    margin: 5em 14em 5em 14em;
}

.ticket, .review, .form {
    border: 2px solid black;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;
}

.ticket img, .review img {
    max-width: 25em;
    height: auto;
}

.block-form {
    margin: 0em 14em 2em 14em;

    border: 2px solid black;
}

.block-form img{
    margin-top: 1em;
    max-width: 25em;
    height: auto;
}

.tkt-page{
    border: none;
}

.block-form h3, .block-form-review h3{
    margin-left: 1em;
}

.form {
    width: auto;
    padding: 4em 7em 4em 7em;
}

.img-form{
    max-width: 25em;
    height: auto;
}

.form-review {
    margin: 2em 7em 2em 7em;

}

.form input, .form textarea {
    width: 100%;
    margin-top: 1em;
}

.form p {
    margin: 3em 0em 1em 0em;
}

.form label {
    margin: 3em 0em 1em 0em;
    font-size: 1.1em;
}

.img-delete #id_image-clear_id{
    width: 5%;
    min-height: 1.3em;
}

.form-update #image-clear_id{
    width: 15%;
    min-height: 1.3em;
}

.btn-form{
    text-align: end;
}

.btn-form button {
    padding: 1em 4em 1em 4em;
}

button:hover {
    transition: 1s;
    color: white;
    background-color: #527a7a;
    border-color: #527a7a;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 41em;
}

.rating-radio label {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 3.5em;
    justify-content: space-between;
}

.star {
    margin-left: 3em;
    font-size: 24px;
    color: black;
}

.star.filled {
    color: black;
}

.desc-review input {
    min-height: 10em;
    margin-bottom: 3em;
}

.block-form-review {
    margin: 0em 14em 2em 14em;
    border: 2px solid black;
}

.in {
    width: auto;
    border: 2px solid black;
    padding: 2em;
}

.in h4 {
    margin: 2em;
    color: red;
}

.subs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 3em 7em 3em 7em;
}

.subs ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subs li {
    display: flex;
    min-width: 80em;
    border: 1px solid black;
    margin: 0.5em 0em;
    padding: 0;
    align-items: center
}

.messages li {
    padding: 1em;
}

.form-uf {
    display: flex;
}

.username {
    min-width: 70em;
    padding-left: 2em;
}

.form-uf button {
    margin: 0;
    min-height: 100%;
    padding: 1.5em 2em;
    border: none;
    border-radius: 0;
    border-left: 1px solid black;
}

.new-sub input {
    margin-top: 1em;
    min-width: 80em;
    min-height: 2em;
}

.followers li {
    min-width: 86em;
    justify-content: space-between;
}

.ticket-form-edit {
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 2px solid black;
}

.form-tck-rvw {
    width: auto;
    padding: 4em 7em 4em 7em;
}

.form-tck-rvw h3 {
    margin-left: 0;
}

.form-tck-rvw input, .form-tck-rvw textarea {
    width: 100%;
    margin-top: 1em;
}

.form-tck-rvw p {
    margin: 3em 0em 1em 0em;
}

.form-tck-rvw label {
    margin: 3em 0em 1em 0em;
    font-size: 1.1em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
